.bordered {
	border: 0.05em solid black;
}

.centered {
	text-align: center;
}

.bolded {
	font-weight: bold;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.elemBox {
    height: 3.1em;
    width: 5.3em;
}

.handPointer {
    cursor: pointer;
}

.pointerCursor {
    cursor: default;
}

.flex {
    display: flex;
}

.upperSection {
    background-color: rgb(33, 154, 165);
}

/* Begin of classes for colors of different kinds of elements */
.alkali {
    background-color: rgb(255, 212, 127); 
}

.alkaliDetailed {
    background-image: linear-gradient(to bottom, #FF9933, #FFCC66);
}

.alkaline {
    background-color: rgb(255, 255, 127);
}

.alkalineDetailed {
    background-image: linear-gradient(to bottom, #FFFF00, #FFFF99);
}

.lanthanoid {
    background-color: rgb(255, 212, 195);
}

.lanthanoidDetailed {
    background-image: linear-gradient(to bottom, #FFCCFF, #FFCCCC)
}

.actinoid {
    background-color: rgb(238, 212, 229);
}

.actinoidDetailed {
    background-image: linear-gradient(to bottom, #CC99FF, #E699FF);
}

.transition-metal {
    background-color: rgb(238, 204, 204);
}

.transition-metalDetailed {
    background-image: linear-gradient(to bottom, #E5B1B1, #E6C9C9);
}

.post-transition-metal {
    background-color: rgb(136, 238, 221);
}

.post-transition-metalDetailed {
    background-image: linear-gradient(to bottom, #3AD2B9, #43E2C8);
}

.metalloid {
    background-color: rgb(136, 221, 153);
}

.metalloidDetailed {
    background-image: linear-gradient(to bottom, #6FC17F, #B6F6C3);
}

.nonmetal {
    background-color: rgb(127, 246, 127);
}

.nonmetalDetailed {
    background-image: linear-gradient(to bottom, limegreen, lightgreen);
}

.noble-gas {
    background-color: rgb(195, 212, 255);
}

.noble-gasDetailed {
    background-image: linear-gradient(to bottom, #8CA2DF, #CAD8FF);
}

.no-type {
	background-color: rgb(220, 220, 220);
}

.no-typeDetailed {
    background-image: linear-gradient(to bottom, #BFBFC4, #E4E4EE);
}
/* End of classes for colors of different kinds of elements */

/* Begin of classes for element legend */
.metals {
    margin: auto;
}

.singleLineBoxSpace {
    width: 8em;
    height: 1.5em;
}

.doubleLineboxSpace {
	width: 8em;
    height: 3em;
}

.columnPadding {
    padding: 0.4em 0.9em 0.4em 0.9em;
}

.bottomBorder {
    border-bottom: solid black;
    border-width: 0.1em;
}

.sideBorder {
    border-right: solid black;
    border-width: 0.1em;
}

.legendHeight {
    height: 4em;
}
/* End of classes for element legend */

/* Begin of classes for number positions */
.rowOfNumbers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.columnOfNumbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.number {
	border-style: solid;
	font-size: 1.5em;
}

.numberRow {
    padding-left: 1.44em;
    padding-right: 1.44em;
    border-width: 0.05em;
    border-color: white rgb(203, 236, 230) white white;
}

.doubleDigitNumberRow {
    padding-left: 1.16em;
    padding-right: 1.16em;
    border-width: 0.05em;
    border-color: white rgb(203, 236, 230) white white;
}

.firstRowNumber {
    padding-left: 1.44em;
    padding-right: 1.44em;
    border-width: 0.05em;
    border-color: white rgb(203, 236, 230) white rgb(203, 236, 230);
}

.numberColumn {
    padding: 0.3em 0.03em 0.3em 0.03em;
    border-width: 0.02em;
    border-color: white white rgb(203, 236, 230) white;
}

.firstColumnNumber {
    padding: 0.3em 0.03em 0.3em 0.03em;
    border-width: 0.02em;
    border-color: rgb(203, 236, 230) white rgb(203, 236, 230) white;
}

.textColor {
    color: rgb(22, 49, 91);
}
/* End of classes for number positions */

/* Begin of classes for detailed element representation */
#detailedElement {
    position: absolute;
    height: 9em;
    width: 9em;
}

#detailedSymbol {
    font-size: 3.5em;
    margin-top: 0.001em;
}
/* End of classes for detailed element representation */

/* Begin of classes for slider */
#temperatureSlider {
    background-image: linear-gradient(to right, blue, yellow, red);
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 0.7em;
    width: 12.5em !important;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.5em;
    height: 0.7em;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 0.5em;
    height: 0.7em;
    background: black;
    cursor: pointer;
}

.sliderTextbox {
    width: 4.2%;
    position: absolute;
    margin-left: 15%;
}

#sliderSpan {
    position: absolute;
    padding: 0.1em 0.3em 0.1em 0.3em;
    background-color: lightgray;
    margin-top: 0.5em;
}
/* End of classes for slider */

/* Begin of classes for element phase state representation */
.gas {
    color: rgb(153, 0, 0);
}

.liquid {
    color: rgb(0, 0, 221);
}

.solid {
    color: black;
}

.unknown {
    color: rgb(102, 119, 102);
}

.gasHighlight {
    color: white;
    background-color: rgb(153, 0, 0);
}

.liquidHighlight {
    color: white;
    background-color: rgb(0, 0, 221);
}

.solidHighlight {
    color: white;
    background-color: black;
}

.unknownHighlight {
    color: white;
    background-color: rgb(102, 119, 102);
}
/* End of classes for element phase state representation */

/* Begin of classes for layout of periodic table */
.grid {
    display: grid;
}

#temperatureDiv {
    padding-top: 0.5em;
    padding-left: 4.1em;
}

#transition-metal-gap {
    grid-row: 2 / 4;
    grid-column: 4 / 14;
    padding-left: 3em;
    padding-right: 3em;
    height: 4em;
}

#nonmetal-gap {
    grid-row: 2 / 3;
    grid-column: 14 / 18;
}

#left-corner {
    grid-row: 9 / 12;
    grid-column: 2 / 4;
    padding-top: 0.5em;
    padding-left: 1.5em;
}
/* End of classes for layout of periodic table */

/* Begin of classes for styling of phase state legend */
#phaseStateLegend {
    height: 9em;
    width: 9em;
    border: 0.05em solid black;
}

.phaseSymbol {
    border: 0.3em solid black;
    font-weight: bold;
}

.phaseSymbolOuterDiv {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em;
}

#gasLegend {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#liquidLegend {
    padding-left: 0.35em;
    padding-right: 0.35em;
}

#solidLegend {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#solidText {
    padding-left: 2em;
}

#liquidText {
    padding-left: 1.7em;
}

#gasText {
    padding-left: 2.2em;
}

#unknownText {
    padding-left: 1em;
}
/* End of classes for styling of phase state legend */

/* Begin of classes for page */
#columnNumbers {
    grid-row: 1 / 1;
    grid-column: 2 / 25;
}

#rowNumbers {
    grid-row: 2 / 9;
    grid-column: 1 / 1;
}

#periodicTable {
    grid-row: 2 / 18;
    grid-column: 2 / 10;
}
/* End of classes for page */

/* Begin of classes for range boxes */
.actinoidRep {
    background-color: rgb(238, 212, 229);
}

.lanthanoidRep {
    background-color: rgb(255, 212, 195);
}
/* End of classes for range boxes*/

/* Begin of classes for title */
#titleDiv {
    height: 5em;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.titleSpace {
    width: 1.5em;
}

.titleLetter {
    background-color: white;
    font-size: 2em;
    height: 1.5em;
    width: 1.5em;
}
/* End of classes for title */