.bordered {
	border: 1px solid black;
}

.centered {
	text-align: center;
}

.lessDetailed {
	font-size: 10px;
}

.moreDetailed {
	font-size: 15px;
}

.bolded {
	font-weight: bold;
}

/* Begin of Colors for different kinds of elements */
.alkali {
	background-color: rgb(255, 213, 100); 
}

.alkaline {
	background-color: rgb(255, 253, 130);
}

.lanthanoid {
	background-color: rgb(255, 204, 154);
}

.actinoid {
	background-color: rgb(249, 191, 255);
}

.transition-metal {
	background-color: rgb(243, 116, 228);
}

.post-transition-metal {
	background-color: rgb(136, 238, 221);
}

.metalloid {
	background-color: rgb(53, 191, 28);
}

.nonmetal {
	background-color: rgb(122, 247, 100);
}

.noble-gas {
	background-color: rgb(137, 144, 246);
}

.no-kind {
	background-color: rgb(220, 220, 220);
}
/* End of Colors for different kinds of elements */

/* Begin of classes for element legend */
.legendTop {
	border-bottom: 1px solid black;
}

.legendSide {
	border-right: 1px solid black;
}

.legendBox {
	padding: 0.1em 0.5em 0.1em 0.5em;
}

.tablePadding {
	padding: 0.25em 0.5em 0.25em 0.5em;
}

.boxPadding {
	padding-right: 0.5em;
}
/* End of class for element legend */
