.bordered {
	border: 1px solid black;
}

.centered {
	text-align: center;
}

.bolded {
	font-weight: bold;
}

/* Begin of classes for colors of different kinds of elements */
.alkali {
    background-color: rgb(255, 212, 127); 
}

.alkaline {
    background-color: rgb(255, 255, 127);
}

.lanthanoid {
    background-color: rgb(255, 212, 195);
}

.actinoid {
    background-color: rgb(238, 212, 229);
}

.transition-metal {
    background-color: rgb(238, 204, 204);
}

.post-transition-metal {
    background-color: rgb(136, 238, 221);
}

.metalloid {
    background-color: rgb(136, 221, 153);
}

.nonmetal {
    background-color: rgb(127, 246, 127);
}

.noble-gas {
    background-color: rgb(195, 212, 255);
}

.no-type {
	background-color: rgb(220, 220, 220);
}
/* End of classes for colors of different kinds of elements */

/* Begin of classes for element legend */
.legendTop {
	border-bottom: 1px solid black;
}

.legendSide {
	border-right: 1px solid black;
}

.legendBox {
	padding: 0.1em 0.5em 0.1em 0.5em;
}

.tablePadding {
	padding: 0.25em 0.5em 0.25em 0.5em;
}

.boxPadding {
	padding-right: 0.1em;
}
/* End of classes for element legend */

/* Begin of classes for number positions */
.number {
	border-style: solid;
	font-size: 1.5em;
}

.numberRow {
    padding-left: 1.3em;
    padding-right: 1.3em;
    border-width: 0.05em;
    border-color: white rgb(203, 236, 230) white rgb(203, 236, 230);
}

.doubleDigitNumberRow {
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-width: 0.05em;
    border-color: white rgb(203, 236, 230) white rgb(203, 236, 230);
}

.numberColumn {
	padding: 0.5em 0.7em 0.5em 0.7em;
    border-width: 0.05em;
	border-color: rgb(203, 236, 230) white rgb(203, 236, 230) white;
}
/* End of classes for number positions */
